# ======================
# Data
# ======================
data/

# ======================
# Models (folder only)
# ======================
models/*
!models/.gitkeep

# ======================
# Logs
# ======================
# ======================
# Notebooks
# ======================

# ======================
# ML artifacts
# ======================
*.pkl
*.model
*.npy
*.pt
*.bin

# ======================
# OS / IDE
# ======================
.vscode/
.DS_Store
__pycache__/

